<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic HTML5</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body ng-app="myApp" class="container">
        <div id="app"></div>
        <script src="bundle.js"></script>

        <!-- <script type="text/ng-template" id="removeUser.html">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Remove Person</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <p>Are you sure you want to remove this entry</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="confirm()">Yes</button>
            </div>
        </script> -->
    </body>
</html>
